<!DOCTYPE html>

<html>

<head>

</head>

<body>
  
  <form id="form"> 
    <input type="search" id="query" name="q" placeholder="Search...">
    <button>Search</button>
  </form>

  <h3>Account Information</h3>

<form action="" method="post">

<div class="container">
<label for="uname"><b>Change Password</b></label>
<input type="text" placeholder="Enter New Password" name="password" required>

<label for="psw"><b>Confirm Password</b></label>
<input type="password" placeholder="Confirm Password" name="changepassword" required>

<button type="submit">Confirm</button>

<div class="container" style="background-color:#f1f1f1">
  <a href="userreviews.html">View Reviews</a>
  </div>

<div class="container" style="background-color:#f1f1f1">
<a href="warnings.html">View Warnings</a>
</div>

    
    
</body>

</html>